@*
    Get the model
    You can only call ONE model per view!
*@

@model Vid_App.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .popular-movie::before {
        content: 'hot';
        color: #cb1313;
        font-size: 15px;
        margin-right: 8px;
    }

    .movie-title{
        display: inline-block;
    }

    .popular-movie-img {
        display: inline-block;
        width: 35px;
        margin: 0 0 15px 10px;
    }

</style>

@{
    var popularMovie = (String)null;
    var popularMovieImg = (String)null;

    if(Model.Customers.Count > 5)
    {
        popularMovie = "popular-movie";
        popularMovieImg = "https://cdn3.iconfinder.com/data/icons/funky/136/Fire-512.png";
    }
}

<h2 class="@popularMovie movie-title">@Model.Movie.Name</h2><img class="popular-movie-img" src="@popularMovieImg" alt="" />

<h3>Customers who've watched this movie</h3>

@if (Model.Customers.Count == 0)
{
    <p>No one has viewed this movie yet!</p>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}



